<div class="container-fluid mt-3"  >
    <div class="jumbotron">
      <h1 class="display-4">A propos de BlogFavVideo</h1>
      <hr class="my-4">
      <p class="lead">
        Cette application est destinée aux établissements d'enseignement supérieur dans le but de rationaliser l'apprentissage des sujets éducatifs qui orientent une partie de leur travail vers l'affichage de vidéos sur Internet pour incriminer, apprendre et faire progresser le groupe d'étudiants. 
        Il concentre son fonctionnement sur le stockage centralisé des vidéos préférées de chacun des utilisateurs enregistrés pour accélérer le temps de productivité dans la journée et avoir toutes leurs vidéos préférées centralisées dans un espace personnel privé et sécurisé.
     </p>

     <p class="lead">
        Comment cela fonctionne :
    </p>   
    <p class="lead">
        - L'utilisateur doit d'abord s'inscrire dans l'application avant de pouvoir accéder à 
    </p>  
    <p class="lead">
        - Pour pouvoir naviguer dans l'application, une fois enregistré, l'utilisateur doit se connecter avec son adresse électronique et son mot de passe.
    </p>
    <p class="lead">
        - L'application fournit des services dans sa barre supérieure une fois connecté.
    </p>  
    <p class="lead">
        - Dans la partie supérieure droite, l'utilisateur visualisera le nom de son espace personnel et disposera d'un menu déroulant où il aura les options suivantes : 

    </p>
     <p class="lead">
        . Modification de vos données personnelles
        . Personnes à contacter 
        . Comment fonctionne l'application
        . Déconnexion de l'application
    </p>
     </div>
  </div>