<div id="fond">
  <img  alt="fond" />
</div>
<div class="container-fluid " >
  <nav class="navbar navbar-expand-lg navbar-dark  bg-dark  mt-3" style="height: 80%; opacity:0.8;z-index:1">
    <a class="navbar-brand" [routerLink]="['/home']">
      <img src="/assets/images/logoSave!t.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy">
       
    </a>
    
    <!--<a class="navbar-brand" [routerLink]="['/home']">
      
        <span class="mb-5" > SaveIt</span>
    </a>
     -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="identity">
          <li class="nav-item active" >
            <a class="nav-link" [routerLink]="['/home']">Mes vidéos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/video-new']">Ajouter aux favoris</a>
          </li>
      </ul>
      <ul class="navbar-nav nabvar-right" *ngIf="!identity" >
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/login']">Se connecter <span class="sr-only">(current)</span></a>
          </li>
         <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          -->
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="identity">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{identity.name + " " + identity.lastname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/setting']">Paramètres</a>
              <a class="dropdown-item" [routerLink]="['/about']">A propos de</a>
              <a class="dropdown-item" [routerLink]="['/contact']">Contacts</a>
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/logout/1']">Déconnexion</a>
            </div>
          </li>
      </ul>
     
    </div>
  </nav> <!--fin de la Navbar-->
    <router-outlet></router-outlet>
      
    
</div>